
/************* ELEMENTS STYLES *****************/


fieldset {
  padding: 0;
  border: 0;
  @extend %margin0;
  @extend %flexBoxLayout;
  }



/************* CLASS STYLES *****************/

.dailyTraffic,
.mobileUsers {
  @include breakpoint(tablet){
    display: inline-block;
    justify-content: center;
    width: 50%;
    padding: 1em;
    }
}


.main-content {
  @extend %margin0;
  padding: 0 1em;
  width: 90%;
  height: 100%;
  top:4em;
  @include breakpoint(tablet){
    position: absolute;
    right:.75em;
    width: 85%;
    }
}

.main-wrapper{
  @include breakpoint(tablet){
      display: flex;
  }
}


.mobileUsers {
  @include breakpoint(tablet){
    border-left: $tertiary-color solid 1px;
  }
}

.new-members-each,
.recent-each{
  @include section-borders(border-top);
  @extend %flexBoxLayout;
  min-height: 10em;
  margin-bottom: 1em;
  @include breakpoint(tablet){
    border: none;
    };
  @include breakpoint(desktop){
    min-height:5em;
  };
}



.member-name-email,
.recent-activity {
  width: 60%;
  margin: auto 0;
  display:flex;
  flex-direction: column;
  flex-shrink: 1;
  @include breakpoint(tablet){
  margin-left: 0;
  // width:70%
  }
}

.member-pics {
  width: 4em;
  height: 4em;
  border-radius: 50%;
  margin: auto 0;
  @include breakpoint(tablet){
  width: 10%;
  height: 10%;
  }
}


.member-names,
.recent-activity>p,
.activity-time{
  @include breakpoint (tablet){
    margin: .5em 0;
    }
}
.member-dates,
.arrow-right{
  margin: auto 0;
  width: 20%;
}

.notification_p_lablel,
.settings-buttons {
  width: 100%;
  @include breakpoint(tablet){
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;

    }

  }

.traffic {
  margin-bottom: 2em;
  margin-top: 2em;
  .traffic-charts {
    display: flex;
    justify-content: flex-end;
  }
}


.twitterWidget,
.facebookWidget,
.googleWidget {
  background-color: $section-bckgrd-color;
  border-radius: 5px;
  // @include section-borders(border);
  border: $tertiary-color solid 1px;
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

div .socialIcon,
.socialName,
.socialNumber {
  display: flex;
  justify-content: center;
}



/************* ID STYLES *****************/

#alert-box {
  border-radius: 5px;
  margin: 1em 0;
}


#new-members-recent,
#recent-activity,
#message-container,
#settings-container {
  border-top: $tertiary-color solid 1px;
  margin-bottom: 1em;
  @include breakpoint(tablet){
      flex-direction: row;
      width: 50%;
      justify-content: center;
      flex-wrap: nowrap;
      margin: 0 auto;
      min-height: 15em;
      padding: 1em;
    }
}

#new-members-recent,
#message-container{
  @include breakpoint(tablet){
    border-right: $tertiary-color solid 1px;
  }

}

#daily-traffic-mobil-widget{
  // @include section-borders(border-top); not working
  // @include section-borders(border-bottom); not working
  border-top: $tertiary-color solid 1px;
  border-bottom: $tertiary-color solid 1px;
  @include breakpoint(tablet){
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}


#dash-search {
  width: 100%;
  @extend %flexBoxLayout;
}


#left-nav  {
  background-color: $secondary-color;
  width: 100%;
  @include breakpoint(tablet){
    position: fixed;
    left:0;
    display:flex;
    justify-content: space-around;
    width: 10%;
    height: 100%;
    top: 4em;
      li {
        border:none;
      }
  }
}

#message-textarea {
  height: 6.5em;
}

#new-members-all,
#message-user-settings {
  @include breakpoint(tablet){
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      }
}



#search-box {
  background-color: $section-bckgrd-color;
  width: 60%;
  position: relative;
  border-radius: 5px;
  .fa-search {
    position: absolute;
    top: 1.25em;
    right: 1.25em;
    font-size: 20px;
    color: $primary-color ;
    font-weight: lighter;};
  @include breakpoint(tablet){
    width: 80%;
  }
}


#search,
#simple,
#message-textarea {
  background-color: $section-bckgrd-color;
}



#social-widgets {
  @extend %flexBoxLayout;
  width: 100%;
}

#socialStatsContainer{
  margin:1em;
  @include breakpoint(tablet){
    margin-bottom: 2em;
    }
}












// /*************VARIABLES**************/
// $secondary-background-color  :    white;
// $main-container-width        :    90%;
//
//
//
//
//
// /*************STYLES*************/
//
//
// .main-header {
//   width: $main-container-width ;
//   /*display:block;*/
//   margin: auto;
//   @include breakpoint(tablet){
//   display: flex;
//   flex-direction: column;
//   align-items: center;}
//   @include breakpoint(desktop){
//     flex-direction: row;
//     justify-content: space-between;
//     }
//   }
//
//
//
// .main-nav
//   { a {width: 100%;}
//       li {
//           margin: 5px 20px;
//         }
//     @include breakpoint(tablet)
//       {
//       display: flex;
//       align-items: flex-end;
//
//       }
//    @include breakpoint(desktop)
//       {
//         margin: 5px 0px 5px 20px;
//       }
//     }
//
//
//
//
// .profile-section{
//   width: $main-container-width ;
//   @extend %margin0;
//   @include breakpoint(tablet){
//       display: flex;
//       padding-top: 15pt;
//       padding-bottom: 15pt;
//       }
//   @include breakpoint(desktop){
//      }
//   }
//
//
// .profile-pic{
//   width:60%;
//   @extend %margin0;
//   padding-bottom: 20pt;
//   @include breakpoint(tablet){
//       width:40%;
//       padding-left: 10pt;
//       order: 2;
//       }
//   }
//
// .profile-intro {
//
//   padding-bottom: 5pt;
//   width: 100%;
//   @extend %margin0;
//   @include breakpoint(tablet){
//     line-height: 20pt;
//     width: 60%;
//      p
//        {text-align: left;
//         padding-top: 15pt;
//         margin: 0;
//         margin-right: 0;
//         }
//       }
//   @include breakpoint(desktop)
//     { line-height: 30pt;
//       p
//       {margin-right: 10pt;
//        order: -1;
//       }
//     }
//   }
//
// .portfolio-heading{
//   padding-bottom: 15pt;
//   padding-top: 20pt;
//   margin: 0;
//     }
//
// .port-background{
//   width: 100%;
//   background-color: $secondary-background-color;
//   background-size: cover;
//   padding-top: 10pt;
//   padding-bottom: 10pt;
//   clear: both;
//   min-height: 100pt;
//   display:inline-block;
//   @include breakpoint(desktop)
//     {
//     margin: 0 auto;
//     }
//   }
//
// .main-portfolio{
//   display: flex;
//   flex-wrap: wrap;
//   @extend %margin0;
//    .col {flex-basis: 300px;
//          align-content: space-between;
//          margin: 0 auto;
//           }
//   @extend %primary_container_width;
//   padding-bottom: 10pt;
//   @extend %centered;
//   @extend %margin0;
//   @include breakpoint(tablet){
//     width: $main-container-width ;
//     }
//   @include breakpoint(desktop){
//     width: 95%;
//
//     }
//   }
//
// .portfolio-text {
//   @extend %primary_container_width;
//   @extend %margin0;
//   padding-bottom: 10pt;
//   @include breakpoint(tablet){
//     width: $main-container-width ;
//     min-height: 50pt;
//     max-height: 50pt;
//     padding-bottom: 20pt;
//     }
//   }
//
// .skills, .contact{
//   padding-top: 30pt;
//   @extend %primary_container_width;
//   @extend %margin0;
//   @include breakpoint(tablet){
//       clear:both;
//       padding-top: 10pt;
//       display:block;
//       width: 60%;
//       margin: 10pt auto;
//       }
//   }
//
// .phone {
//   padding-top: 10pt;
//   }
//
// .email{
//   padding-bottom: 30pt;
//   }
