

#alert-box,
header {
background-color: $primary-color;
display: flex;
justify-content: space-between;
padding-left:1em;
padding-right:1em;
color: white;

}


header{
  h1 {
      margin: auto 0;
      };
    @include breakpoint (tablet) {
      position:fixed;
      width: 100%;
      z-index: 1000;
      };
  ul {
      margin-right: 2em;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
          li {
                justify-content: space-between;
                padding-left: 1em;
             };
          }
    }
