.activeNavIcon{
  opacity: .8;
}



.socialIcon {
  width: 1.5em;
  height: 1.5em;
  background-color: $primary-button-color;
  border-width: 10%;
  border-radius: 50%;
  padding: 1em;
  display: flex;
  justify-content: center;
  margin: auto 0;
}

.socialName {
  margin: auto 0;
}

#bell-icon {
  border-right: $header-icon-border-color 1px solid;
  padding-right: .5em;
  /*change border color to rgba so I can add opacity to end*/
}

#bell-active-note {
  display: inline-block;
  position: relative;
  width: 10px;
  height:10px;
  top: -20px;
  left: 5px;
  background-color: $secondary-button-color;

  z-index: 200000;
  border-radius: 50%;


}

#dashboard-icon svg .st0,
#members-icon svg .st0,
#visits-icon svg .st0,
#settings-icon svg .st0
{
  fill: $left-nav-icon-fill-color;
}


li #dashboard-icon{
  align-items: center;
}

#profile-pic{
  border-radius: 50%;
}
