.activeNavIcon{
  opacity: .8;
}



.socialIcon {
  background-color: $primary-button-color;
  border-width: 10px;
  border-radius: 50%;
  padding: 20px;
  margin: auto;
  fill: #ffffff;

}

.socialIcon > svg {
  width: 50px;
  height: 50px;
  @include breakpoint(tablet) {
      width: 30px;
      height: 30px;
  }
}

.socialName {
  margin: auto 0;
}

#bell-icon {
  border-right: $header-icon-border-color 1px solid;
  padding-right: 1em;
}

#bell-active-note {
  display: inline-block;
  position: relative;
  width: 10px;
  height:10px;
  top: -20px;
  left: 5px;
  background-color: $secondary-button-color;
  z-index: 200000;
  border-radius: 50%;
}

#dashboard-icon svg .st0,
#members-icon svg .st0,
#visits-icon svg .st0,
#settings-icon svg .st0
{
  fill: $left-nav-icon-fill-color;
}


li #dashboard-icon{
  align-items: center;
}

#profile-pic{
  border-radius: 50%;
}
