



* {
  @extend %primary-font-family;
  color: $primary-font-color;
  font-size: $secondary-fontsize;
  @include breakpoint(tablet){
    font-size: $T-secondary-fontsize;
  }
}



h1 {
    font-size: 1em;
    @include breakpoint (tablet){
      font-size: 2em;};
    }


h2,
legend {
  font-size: $header-h2-fontsize;
  @include breakpoint(tablet){
    font-size: $T-header-h2-fontsize;

  }
}

p {
  -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
  margin:0;

  }

.activity-time {
    padding: .5em 0;
    @include breakpoint(tablet){
      padding: 0;
    }
  }

.alert-box-text,
.header-text
        {
          color: $secondary-font-color;
          overflow: hidden;
          text-overflow: ellipsis;
          font-size: 60%;
          @include breakpoint(tablet){
            font-size: $T-header-h2-fontsize;

          }
        }

.member-names {
  @include breakpoint (tablet){
    margin-bottom: 0;
  }
}
.member-emails {
  color: $tertiary-font-color;
  text-decoration: none;
}

.member-name-email h3,
.member-name-email a,
.recent-activity p{
  @include breakpoint (desktop){
    font-size: .75em;
  }

}

.form-button{
    color: $secondary-font-color;
  }


.socialName {
  color:$tertiary-font-color;
  font-size: 1.5em;
  font-weight: bold;
  @include breakpoint (tablet){
    // font-size: 1.5em;
  }
}

.socialNumber {

  font-size: 2em;
  @include breakpoint (tablet){

  }

}

.traffic-charts-buttons{
  font-size: .5em;
  @include breakpoint (tablet){
    font-size: 1em;
  }
}

#alert-text {
  padding: 1em;
}

#dash-page {
  font-size: 1em;
  @include breakpoint(tablet){
    font-size: 1.5em;
  }
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
    color:    $primary-font-color;
    opacity:  .9;
    font-style: italic;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
   color:    $primary-font-color;
   opacity:  .9;
   font-style: italic;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
   color:    $primary-font-color;
   opacity:  .9;
   font-style: italic;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color:    $primary-font-color;
   opacity:  .9;
   font-style: italic;
}
