/*******VARIABLES*********/


/**Mobile**/
$header-h2-fontsize   :    20pt;
$secondary-fontsize   :    15pt;

/**Tablet**/

$T-header-h2-fontsize   :    15pt;
$T-secondary-fontsize   :    12.5pt;

/**Desktop**/
// $D-header-h2-fontsize   :    25pt;
// $D-secondary-fontsize   :    20pt;

// $primary-fontfamily   :    arial, sans-serif;

$primary-font-color   :           gray;
$secondary-font-color :           white;
$tertiary-font-color  :           mediumslateblue;


$primary-button-color :           mediumslateblue;
$secondary-button-color:          green;
$tertiary-button-color:            #ffffff;

$header-icon-border-color:        slateblue;
$left-nav-icon-fill-color:        lightgray;
$left-nav-hover-color:            #ffffff;
